server.ip=
server.port=

upload.directory=
keystore.path=
keystore.pass=

db.name=
db.url=
db.username=
db.password=
db.pool.initialsize=
db.pool.idlesize=
db.pool.maxsize=
db.pool.maxwaitmillis=

jetty.threadpool.min=
jetty.threadpool.max=
jetty.threadpool.timeoutmillis=

mail.instant.send=true
mail.smtp.host=smtp.gmail.com
mail.smtp.starttls.enable=true
mail.smtp.auth=true
mail.smtp.port=587
mail.from=
mail.to=
mail.auth.user=
mail.auth.pass=